[submodule "src/gui/qconsolewidget"]
	path = src/gui/qconsolewidget
	url = git@github.com:gapost/qconsolewidget.git
[submodule "src/gui/qmatplotwidget"]
	path = src/gui/qmatplotwidget
	url = git@github.com:gapost/qmatplotwidget.git
